/* DISP */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

a{
  color: inherit;
  transition: all 0.3s ease-in-out;
}


.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.column-fs{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* FONTS */

.b-page-para{
  font-size: 0.8rem;
  line-height: 25px;
}

.b-page a:hover{
  color: rgb(236, 236, 236);
}


/* CONTAINER */

.b-page{
  width: 100%;
  height: 100vh;
  background-color: black;
  color: rgb(206, 206, 206);
}

.para{
  width: 600px;
  height: auto;
  padding: 10px 0px;
}

/* MEDIA QUERIES */